<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Dashboard | SkillBridge</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

<h1>Welcome to SkillBridge</h1>

<p>Your learning journey starts here 🚀</p>

<div class="buttons">

<a href="/profile">My Profile</a>

<a href="/skills">My Skills</a>

<a href="/browse-skills">Browse Skills</a>

<a href="#">Bookings</a>

<a href="/">Logout</a>

</div>


</div>

</body>

</html>