<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Register | SkillBridge</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

<h1>Create Account</h1>

<form action="/register" method="post">

<input type="text" name="fullName" placeholder="Full Name" required>

<br><br>

<input type="email" name="email" placeholder="Email" required>

<br><br>

<input type="password" name="password" placeholder="Password" required>

<br><br>

<input type="text" name="branch" placeholder="Branch">

<br><br>

<input type="number" name="year" placeholder="Year">

<br><br>

<textarea name="bio" placeholder="Tell something about yourself"></textarea>

<br><br>

<button type="submit">

Register

</button>

</form>

</div>

</body>

</html>